{% extends 'base.html.twig' %}
{% block title %}Tasks{% endblock %}
{% block body %}
    <h1>Tasks</h1>
    <table cellpadding="0" cellspacing="0" class="table">
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Completed</th>
            <th></th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.completed }}</td>
                <td class="align-right"><a href="{{ path('app_task', {task_id: task.id}) }}">view task</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}